
body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      margin: 0;
      padding: 20px;
    }
    
    h1 {
      color: #000000;
      text-align: center;
      margin-bottom: 30px;
    }
    
    h2 {
      color: #555;
      margin-bottom: 20px;
    }
    
    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 40px;
    }
    
    li {
      margin-bottom: 10px;
    }
    
    a {
      display: block;
      padding: 10px 20px;
      background-color: #f3f4f6;
      color: #000000;
      text-decoration: none;
      border-radius: 4px;
      text-align: center;
      transition: background-color 0.3s ease;
      box-shadow:0 5px 9px rgba(0, 0, 0, 0.2);
      margin-top: 15px;
      
    }
    
    a:hover {
      background-color: #ffffff;
    }
    
    #videoPlayer {
      margin-top: 10px;
      text-align: center;
       border-radius: 10px;
    }
    
iframe {

  border: none;
  transition: box-shadow 0.3s ease;
  max-width: 100%;
  height: 400px;
  padding: 0;
  width: 100%;
  box-shadow: 9px 9px 8px #8c8c8c, -29px 0px 58px #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1px;

}

    


    /* Header styles */
    header {
         font-weight: bold;
			      font-size: 28px;
			      color: #000000;
			      text-align: center;
			      text-transform: uppercase;
			      letter-spacing: 4px;
			      
			      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			      background-color: #f1f1f1;
			      padding: 10px 20px;
			      border-radius: 10px;
			      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    }

    /* Footer styles */
    footer {
      background-color: #dedede;
      color: #000000;
      text-align: center;
      padding: 20px;
      font-size: 14px;
      margin-top: 10px;
font-weight: bold;
			      font-size: 28px;
			      color: #000000;
			      text-align: center;
			      text-transform: uppercase;
			      letter-spacing: 4px;
			      margin: 20px 0;
			      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			      background-color: #f1f1f1;
			      padding: 10px 20px;
			      border-radius: 10px;
			      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    }

    /* Custom header style */
    .logo {
      font-size: 30px;
      font-weight: bold;
      margin: 0;
      color: #007ac6;
    }

    /* Custom footer style */
    .footer-text {
      font-size: 12px;
      }

.logo-container {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  
}

.logo-image {
  max-width: 50px; /* Adjust the width of the image as needed */
  margin-right: 10px; /* Adjust the margin as needed */

}