
        /* Container to maintain 16:9 aspect ratio */
        .player-container {
            position: relative;
            width: 100%;
            padding-top: 56.25%; /* 16:9 aspect ratio (9/16 * 100) */
            border-radius: 25px; /* Adjust this value to get the desired rounded corners */
            overflow: hidden; /* Ensure content doesn't overflow the rounded corners */
            background-color: #000; /* Optional: background color while the video loads */
        }

        /* JW Player element */
        #player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            border-radius: 20px; /* Same value as the container to match the rounded corners */
        }
        
        .program-info {
      width: auto;
      height: auto;
      margin-top: 10px;
      margin-bottom: 30px;
      display: block;
      padding: 10px
    }

    .logo {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 10px;
      background-color: #fff;
      border-radius: 50%;
    }

    .channel-name {
    	color: white;
      font-family: 'Fjalla One', sans-serif;
      font-weight: 700;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
      margin-top: 10px;
      margin-left: 10px;
      font-size: 3.5rem;
      position: absolute
    }

    .s-n {
      font-family: 'Gloock', serif;
      font-weight: 700;
      color: #333;
      margin-top: 0;
      font-size: 1.5rem;
      position: absolute;
      color: darkcyan;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .3)
    }

.program-tittle {
    	color: white;
      margin-top: 10px;
      font-size: 1.4rem;
      font-weight: 700;
    }
    
    .program-name {
    	color: white;
      margin-top: 10px;
      font-size: 1.4rem;
      font-weight: 700;
    }

    .program-description {
      margin-top: 5px;
      color: #666;
      font-weight: 300
    }

    .program-timing {
      margin-top: 5px;
      font-style: italic;
      color: #666
    }
        
        .live-indicator {
            display: flex;
            align-items: center;
            font-family: Arial, sans-serif;
        }

        .blink-dot {
            width: 22px; /* Adjusted size of the dot */
            height: 22px; /* Adjusted size of the dot */
            border-radius: 50%;
            margin-left: 20px; /* Shifted the dot a little bit to the right */
            background-color: red;
            animation: blink 1s infinite;
        }

        @keyframes blink {
            0%, 100% {
                background-color: red;
            }
            50% {
                background-color: green;
            }
        }

        .live-text {
        	color: white;
            font-weight: bold;
            margin-left: 10px; /* Shifted the dot a little bit to the right */
            font-size: 40px; /* Adjusted size of the text */
        }
 
   