* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 95%;
}

#align {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.link {
  background-color: #fffbf4;
  color: #695751;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #c7ab96;
  border-radius: 40px;
  cursor: pointer;
  transition: color 1s;
  text-decoration: none;
}

.link:hover {
  background-color: #a65b3b;
  color: #fffbf4;
  border: 2px solid #695751;
  transition: background-color 1s;
}

a {
            position: relative;
            display: inline-block;
            padding: 15px 10px;
            width: 100%;
            font-size: 20px; 
            margin: 20px 10;
            color: #03e9f4;
            top: 20;
            right: -5;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 4px;
            overflow: hidden;
            margin-right: 10px;
            text-align: center;
        }

        a:hover {
            background: #03e9f4;
            color: #050801;
            box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        }

        a:nth-child(1) {
            filter: hue-rotate(270deg);
        }

        a:nth-child(2) {
            filter: hue-rotate(110deg);
        }

        a span {
            position: absolute;
            display: block;
        }

        a span:nth-child(1) {
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #03e9f4);
            animation: animate1 1s linear infinite;
        }

        @keyframes animate1 {
            0% {
                left: -100%;
            }

            50%,
            100% {
                left: 100%;
            }
        }

        a span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg,
                    transparent, #03e9f4);
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
        }

        @keyframes animate2 {
            0% {
                top: -100%;
            }

            50%,
            100% {
                top: 100%;
            }
        }

        a span:nth-child(3) {
            bottom: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #03e9f4);
            animation: animate3 1s linear infinite;
            animation-delay: 0.50s;
        }

        @keyframes animate3 {
            0% {
                right: -100%;
            }

            50%,
            100% {
                right: 100%;
            }
        }


        a span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #03e9f4);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }

        @keyframes animate4 {
            0% {
                bottom: -100%;
            }

            50%,
            100% {
                bottom: 100%;
            }
        }
        
        dev {
            position: relative;
            display: inline-block;
            padding: 5px 10px;
            top: -60;
            margin: 40px 0;
            color: #03e9f4;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 4px;
            overflow: hidden;
            margin-right: 10px;
            text-align: center;
            border-radius: 70px; 
        }

        dev:hover {
            background: #03e9f4;
            color: #050801;
            box-shadow: 0 0 4px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        }
        
        dev span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #03e9f4);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }

        @keyframes animate4 {
            0% {
                bottom: -100%;
            }

            50%,
            100% {
            	border-radius: 70px; 
                bottom: 100%;
            }
        }

/* shake effect */
.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.user-p {
  font-family: "Brush Script MT", cursive;
  font-size: 45px;
  font-weight: normal;
  color: 4c6165;
  text-shadow: 1px 1px 1px #fffbf4, 2px 2px 1px #fffbf4;
  text-align: center;
  margin-top: -55px;
  margin-bottom: 115px;
}

.center-p {
  text-align: center;
  color: 6a6a6a;
  font-size: 16px;
  margin-top: -85px;
  margin-bottom: 25px;
}

.center-footer {
  text-align: center;
  color: 6a6a6a;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  font-weight: bolder;
}

.social {
  display: inline-block;
}
.social a {
  display: inline-block;
  margin: 0 5px;
  font-size: auto;
}

/* Style all font awesome icons */

.fa {
  padding: 20px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

#source-link {
            top: 120px;
        }

        #source-link>i {
            color: rgb(94, 106, 210);
        }

        #yt-link {
            top: 65px;
        }

        #yt-link>i {
            color: rgb(219, 31, 106);

        }

        #Fund-link {
            top: 10px;
        }

        #Fund-link>i {
            color: rgb(255, 251, 0);

        }

        .meta-link {
            align-items: center;
            backdrop-filter: blur(3px);
            background-color: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 6px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            display: inline-flex;
            gap: 5px;
            left: 10px;
            padding: 10px 20px;
            position: fixed;
            text-decoration: none;
            transition: background-color 600ms, border-color 600ms;
            z-index: 10000;
        }

        .meta-link:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        .meta-link>i,
        .meta-link>span {
            height: 20px;
            line-height: 20px;
        }

        .meta-link>span {
            color: white;
            font-family: "Rubik", sans-serif;
            transition: color 600ms;
        }
