body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #141414;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-item {
    background: #1c1c1c;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-item img {
    max-width: 100%;
    border-radius: 8px;
}

.movie-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.movie-info {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#player {
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 20px auto;
}
